* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #e6e6e6;
}

#main-page {
    text-align: center;
}

#main-page #main-content {
    display: inline-block;
    width: 100%;
    position: relative;
}

#main-page #main-content main {
    display: inline-block;
    width: 80%;
    min-height: 600px;
    padding-bottom: 100px;
    background-color: #FFF;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    text-align: left;
}

main .test {
    background-color: red !important;
}

main .test:after {
    background-color: yellow !important;
    content: "Bonjour";
}